body {
  background-image: url('../media/bigfoot_tile.jpg');
  background-color: black;
  color: tomato;
}

h1 {
  font-family: 'Oi', cursive;
  font-weight: normal;
}

#banner {
  background-image: url('../media/stars.gif');
}

#audio-control {
  padding: 1em;
  float: right;
}

#bigfoot-pic {

}