body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inside {
  margin: 4em;
}

#inside div {
  padding: 1em;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-weight: normal;
}

h4 {
  font-weight: 600;
  text-decoration: underline black;
}

#inside li {
  list-style-type: '- ';
}

#contact-info {
  text-align: center;
}

#contact-info li {
  display: inline-block;
  font-weight: bold;
}

#contact-info li + li::before {
  content: " • ";
  padding: 0 1em;
}

hr {
  border-top: 0.2em solid black;
}

.left{
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  display: inline-block;
  margin-right: 0;
}

.right {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
}

.course-info {
  padding: 1%;
  font-size: 90%;
  border: thin black solid;
}

.languages {
  display: inline-block;
  margin: 0 1em;
}
