body {
  font-family: 'Zilla Slab', serif;
  background-color: white /* T-shirt images have big white background, so changing the page background probably isn't a good idea */
}

h1 {
  font-family: 'Chango', cursive;
  color: black;
  background-color: palegoldenrod;
  display: inline-block;
  border: black solid 0.25em;
  border-radius: 1em;
  padding: 0.25em;
}

#logo {
  padding: 1em 4em;
  background-image: url('../media/store_banner.jpg');
}

#mission {
  margin: 0 5em;
  margin-bottom: 4%;
}

#mission h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

#mission p {
  margin: 0 2em;
  margin-top: -0.5em;
  font-size: 1.35em;
  margin-right: 50%;
}

#creature-company {
  margin: 0 2em;
  margin-bottom: 25%;
}

#the-guy {
  margin: 0 2em;
  margin-bottom: 25%;
}

#shirts h2 {
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
}

#shirts img {
  float: right;
  padding-right: 5em;
  height: 40%;
  width: 40%;
}

#shirts p {
  margin: 5% 37% 5% 2%;
  padding: 6em 5em 0 2em;
  font-size: 2em;
}

#reviews {
  display: inline-flex;
  margin: 0 3em;
}

#reviews p {
  margin: 3em;
  display: table;
  text-align: left;
  width: 20%;
}

#reviews h3 {
  font-size: 1.15em;
  font-weight: 500;
}