h1 {
  font-family: 'Chango', cursive;
  color: black;
  background-color: palegoldenrod;
  display: inline-block;
  border: black solid 0.25em;
  border-radius: 1em;
  padding: 0.25em;
}

#logo {
  padding: 1em 4em;
  background-image: url('../media/store_banner.jpg');
}

#mission {
  margin: 0 5em;
}

#mission h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

#mission p {
  margin: 0 1em;
  margin-top: -0.5em;
  font-size: 1.1em;
}